@using MinhaPrimeiraAplicacaoWeb.Models.Carros
@model CarrosModel;
<div>
    <h1>Carros</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carros in Model.Carros)
            {
                <tr>
                    <td>@carros.Codigo</td>
                    <td>@carros.Modelo</td>
                    <td>@carros.Placa</td>
                    <td>@carros.Ano</td>
                    <td>
                        <a type="button" class="btn btn-warning" asp-controller="Carros" asp-action="Record" asp-route-id="@carros.Codigo">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>